@font-face {
	font-family: "icones";
	src: url(../font/icones.ttf);
}

* {
	box-sizing: border-box;
}

body {
	color: #ffffff;
	background-color: #1d232a;
	font-family: "Open Sans", "icones", sans-serif;
}

.cabecalho--mobile {
	display: flex;
	justify-content: space-between;
	background-color: #15191c;
	padding: 8px 16px;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 64px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.cabecalho--desktop {
	display: none;
}

.cabecalho__botao {
	padding: 8px;
	font-size: 1.5em;
}

.cabecalho__botao--menu-ativo {
	color: #0480dc;
}

.cabecalho__botao--menu::before {
	content: "\e904";
}

.cabecalho__botao--notificacao::before {
	content: "\e906";
}

.cabecalho__imagem {
	width: 40px;
}

.principal {
	display: flex;
	flex-direction: column;
}

.secao {
	margin: 8px;
	padding: 8px 16px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	row-gap: 16px;
}

.titulo {
	font-size: 1.8em;
	font-weight: 700;
	line-height: 2em;
	margin-top: 64px;
}

.sub-titulo {
	font-size: 1.1em;
	font-weight: 700;
	line-height: 2em;
}

.cartao {
	background-color: #2c343a;
	border-radius: 24px;
}

.cartao__imagem {
	width: 100%;
	overflow: hidden;
}

.cartao__destaque {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"texto texto"
		"sub-titulo sub-titulo"
		"perfil perfil"
		"tempo numero"
		"botao botao";
	gap: 16px;
	justify-items: flex-start;
	padding: 16px;
}

.cartao__destaque--texto {
	grid-area: texto;
}

.cartao__destaque--sub-titulo {
	grid-area: sub-titulo;
}

.paragrafo {
	color: #95999c;
}

.cartao__destaque--paragrafo-perfil {
	grid-area: perfil;
}

.cartao__destaque--paragrafo-tempo {
	grid-area: tempo;
}

.cartao__destaque--paragrafo-tempo::before {
	content: "\e90c";
}

.cartao__destaque--paragrafo-numero {
	grid-area: numero;
}

.cartao__destaque--paragrafo-numero::before {
	content: "\e90f";
}

.cartao__destaque--botao {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0480dc;
	border: 1px solid black;
	border-radius: 8px;
	padding: 8px;
	width: 100%;
	grid-area: botao;
	justify-self: center;
}

.cartao__botao--play::before {
	content: "\e90b";
	font-size: 1.2em;
}

.cartao__sem-destaque {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		"perfil perfil"
		"sub-titulo sub-titulo"
		"tempo botao";
	gap: 16px;
	justify-items: flex-start;
	align-items: center;
	padding: 16px;
}

.cartao__sem-destaque-paragrafo--perfil {
	grid-area: perfil;
}

.cartao__sem-destaque--sub-titulo {
	grid-area: sub-titulo;
}

.cartao__sem-destaque--tempo::before {
	content: "\e90c";
}

.cartao__sem-destaque--botao {
	grid-area: botao;
}

.cartao__sem-destaque--botao {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0480dc;
	border: 1px solid black;
	border-radius: 8px;
	padding: 8px;
	width: 40px;
	height: 40px;
	grid-area: botao;
	justify-self: flex-end;
}

.cartao__sem-destaque--botao::before {
	content: "\e90b";
	font-size: 1.2em;
}

.cartao__destaque--paragrafo-preco::before,
.cartao__sem-destaque--preco::before {
	content: "\e905";
}

.cartao__botao--buy::before {
	content: "\e901";
}

.rodape {
	background-color: #15191c;
}

.copyright {
	display: flex;
	font-size: 1em;
	font-style: italic;
	justify-content: center;
	padding: 16px 8px;
}

.menu-lateral {
	display: flex;
	flex-direction: column;
	background-color: #15191c;
	width: 50vw;
	height: 100vh;
	position: absolute;
	left: -100vw;
	top: 65px;
	transition: 1s;
	overflow: auto;
}

.menu-lateral--ativo {
	position: fixed;
	left: 0;
	top: 65px;
	transition: 1s;
}

.menu-lateral__logo {
	width: 118px;
	padding: 16px;
	align-self: center;
}

.menu-lateral__link {
	color: #95999c;
	height: 64px;
	display: flex;
	padding-left: 64px;
	align-items: center;
}

.menu-lateral__link--ativo {
	color: #ffffff;
	border-left: 8px solid #ffffff;
}

.menu-lateral__link::before {
	width: 24px;
	height: 24px;
	font-size: 24px;
	position: absolute;
	left: 24px;
}

.menu-lateral__link--inicio::before {
	content: "\e902";
}
.menu-lateral__link--videos::before {
	content: "\e90e";
}
.menu-lateral__link--picos::before {
	content: "\e909";
}
.menu-lateral__link--integrantes::before {
	content: "\e903";
}
.menu-lateral__link--camisas::before {
	content: "\e900";
}
.menu-lateral__link--pinturas::before {
	content: "\e90a";
}

@media screen and (min-width: 1024px) {
	body {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto;
	}

	.cabecalho--mobile {
		display: none;
	}

	.cabecalho--desktop {
		display: grid;
		grid-template-columns: 1fr auto;
		padding: 16px 60px;
		height: 80px;
		column-gap: 32px;
		background-color: #1d232a;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
	}

	.cabecalho__paragrafo {
		display: grid;
		grid-template-columns: repeat(3, auto);
		column-gap: 8px;
		align-items: center;
		justify-self: flex-end;
		color: #95999c;
		padding: 8px 32px;
		border-right: 1px solid #95999c;
	}

	.cabecalho__paragrafo::before {
		content: "";
		display: block;
		width: 32px;
		height: 32px;
		background-image: url(../img/profile_2.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	.cabecalho__paragrafo::after {
		content: "\e90d";
		color: #ffffff;
		font-size: 1.5rem;
	}

	.menu-lateral {
		grid-column: 1;
		grid-row: 1 / span 3;
		transition: none;
		position: static;
		width: 15vw;
	}

	.principal {
		display: grid;
		grid-template-columns: auto 1fr auto;
		grid-template-rows: auto;
		grid-template-areas:
			"inicio  inicio inicio"
			"mais-vistos mais-vistos mais-vistos"
			"destaque destaque destaque"
			"produtos produtos produtos";
		column-gap: 32px;
		padding: 16px 60px;
		grid-column: 2;
	}

	.rodape {
		grid-column: span 2;
	}

	.titulo {
		margin-top: 0;
	}

	.secao-inicio {
		grid-area: inicio;
	}

	.secao-mais-vistos {
		grid-area: mais-vistos;
	}

	.secao-destaque {
		grid-area: destaque;
	}

	.secao-produtos {
		grid-area: produtos;
	}

	.cartao__destaque--botao {
		width: auto;
		justify-self: flex-start;
	}

	.secao-mais-vistos,
	.secao-produtos {
		grid-template-rows: repeat(2, auto);
		grid-template-columns: repeat(4, auto);
		gap: 8px;
	}

	.sub-titulo--especial {
		grid-row: 1;
		grid-column: span 4;
	}

	.cartao {
		grid-row: 2;
		grid-column: auto;
	}
}
